@charset "UTF-8";
* {
    font-family: "微软雅黑", Arial, sans-serif;
    font-size: 15px;
    border: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

body, html, span, h1, h2, h3, h4, h5, h6, em, img, dl, dt, dd, ol, ul, li, div, a {
    padding: 0;
    margin: 0;
    text-align: left;
}

:focus {
    outline: 0;
}

body {
    color: #666;
    margin: 0px;
    padding: 0px;
    min-width: 1200px;
}

ul, ol, li {
    list-style: none;
}

.clear::after {
    clear: both;
    content: "";
    display: block;
}

i {
    display: inline;
}

a {
    color: #333;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #005dac;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

img {
    border: 0
}

.wapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("../images/index_bg.jpg") no-repeat scroll;
    background-size: cover;
    font-family: '微软雅黑';
    font-size: 16px;

}

a {
    text-decoration: none;
}

.container {
    width: 880px;
    margin: 100px auto 0;
    padding: 0 48px 0 66px;

}

.logo {
    width: 150px;
    height: 150px;
    margin: 0 auto;

}

.container:before, .container:after {
    content: '';
    display: block;
    clear: both
}

.menu_header {
    position: relative
}

.searchContainer {
    float: left;
    width: 100%;
    position: relative
}

.resource_type {
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 80px;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    text-align: justify
}

.resource_type a {
    color: #d5e5fa;
    font-size: 16px;
    padding: 0 8px;
    line-height: 60px;
    padding: 0 15px/9;
    text-decoration: none
}

.resource_type a:hover {
    text-decoration: none;
    font-weight: bold
}

.resource_type a.selected {
    font-weight: bold;
    color: #fff
}

.searchBox {
    width: 750px;
    position: relative;
    overflow: hidden;
    height: 45px;
    position: relative;
    background: #fff;
    border: 1px solid #ababab;
    -webkit-box-shadow: 0 3px 5px 2px rgba(80, 80, 80, .3);
    -moz-box-shadow: 0 3px 5px 2px rgba(80, 80, 80, .3);
    -o-box-shadow: 0 3px 5px 2px rgba(80, 80, 80, .3);
    box-shadow: 0 0 5px 2px rgba(80, 80, 80, .3);
    position: relative;
    z-index: 2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px
}

.searchInput {
    height: 45px;
    padding-right: 200px
}

.searchInput input {
    line-height: 41px;
    height: 41px;
    width: 100%;
    margin: 2px;
    padding: 0 0 0 10px;
    border: 0;
    font-size: 14px;
    outline: 0
}

.searchBtn {
    height: 45px;
    position: absolute;
    top: 0;
    width: 90px;
    right: 90px;
    background: #d9d9d9;
    background: -ms-linear-gradient(top, #fafafa, #b8b8b8);
    background: -webkit-linear-gradient(top, #fafafa, #b8b8b8);
    background: -moz-linear-gradient(top, #fafafa, #b8b8b8);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fafafa), to #b8b8b8);
    background: -o-linear-gradient(top, #fafafa, #b8b8b8)
}

.searchBtn input {
    font-size: 14px;
    font-weight: normal;
    height: 45px;
    width: 90px;
    line-height: 45px;
    color: #003d7c;
    border: 0;
    background: transparent url(../images/iconfont-sousuo-small.png) no-repeat 9px 12px;
    padding-left: 30px
}

.searchBtn:hover {
    background: #dbdbdb
}

.gjsearchBtn {
    left: 780px;
    line-height: 25px;
    position: absolute;
    top: 60px;
}

.gjsearchBtn a {
    color: #fff;
    width: 140px;
    height: 41px;
    line-height: 41px;

}
.gjsearchBtn a:hover {
   font-size: 15px;
   font-weight: 250;
}

.gjsearchBtn a:hover {
    text-decoration: none
}

.pubsearchBtn {
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    background: -ms-linear-gradient(top, #2453ad, #183c82);
    background: -webkit-linear-gradient(top, #2453ad, #183c82);
    background: -moz-linear-gradient(top, #2453ad, #183c82);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2453ad), to #183c82);
    background: -o-linear-gradient(top, #2453ad, #183c82)
}

.pubsearchBtn input {
    font-size: 14px;
    font-weight: normal;
    height: 45px;
    width: 90px;
    background: transparent url(../images/iconfont-sousuo-all.png) no-repeat 9px 12px;
    line-height: 45px;
    color: #fff;
    border: 0;
    padding-left: 30px;
    cursor: pointer;
}

.pubsearchBtn:hover {
    background: #1e4898
}

.searchInput_bomb {
    padding: 10px 15px;
    position: absolute;
    top: 107px;
    z-index: 200;
    background: #fff;
    border: 1px solid #dfdfdf;
    display: none;
    left: 200px
}

.triangle {
    background: url(../images/sanjiao.png) no-repeat;
    width: 19px;
    height: 11px;
    position: absolute;
    top: -10px;
    left: 25px
}

#searchInContainer {
    float: left;
    margin-top: 12px;
}
#searchInContainer ul{
    display: block;
    overflow: hidden;
}

#searchInContainer ul:nth-child(1) {
    width: 1000px;

 }
#searchInContainer ul:nth-child(2) {
    width: 700px;

}
#searchInContainer ul:nth-child(3) {
    width: 1200px;

}

#searchInContainer ul li{
    float: left;
    width: 130px;
    height: 25px;
    line-height: 25px;
}
#searchInContainer ul li label{
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
    white-space: nowrap;
    color: #fff;
}
input[type="checkbox"] {
    cursor: pointer;
}


/*search页面*/
.strip {
    background: #1a4882 none repeat scroll 0 0;
    height: 8px;
    width: 100%;
}
.top {
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #fff, #f9f9f9) repeat scroll 0 0;
}

.top .top_main {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    background: url(../images/logo1.png) no-repeat left center;
    background-size: 70px auto;
}

.top_main span {
    color: #000455;
    line-height: 100px;
    font-size: 26px;
    margin-left: 80px;
    font-weight: 500;
}

.main_search {
    width: 100%;
    height: 170px;
    background: url(../images/index_bg.jpg) no-repeat 100%;
    border: 1px solid darkblue;
}

.main {
    width: 62%;
    margin: 10px auto 0;
}

.main_con {
    width: 85%;
    margin: 10px auto;
}

.location {
    font-size: 12px;
    margin: 10px auto;
    width: 1200px;
}

.location .lct_tit {
    color: #000;
    font-size: 16px;
    margin-right: 5px;
    text-decoration: none;
}

.location .lct_tit:hover {
    text-decoration: underline;
}

.search_menu {
    border: 1px solid #ddd;
    float: left;
    margin-bottom: 10px;
    width: 210px;
}

.search_menu .mt {
    background: #f7f7f7 none repeat scroll 0 0;
    height: 36px;
    line-height: 36px;
    padding-left: 8px;
}

.search_menu .mt h2 {
    font-weight: 250;
}

.search_menu .mt h2, .search_menu .mt h2 a {
    color: #333;
    font-size: 15px;
}

.search_menu .extra {
    background: #fafafa none repeat scroll 0 0;
    border-top: 1px solid #ddd;
    height: 36px;
    line-height: 36px;
    margin-top: -1px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.search_menu .extra .see {
    color: #333;
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-align: right;
}

.search_menu .extra .see:hover {
    color: #009fe3;
}

.search_menu .extra .see span {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding-right: 20px;
}

.search_menu .extra .see b {
    background: rgba(0, 0, 0, 0) url("../images/b.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 6px;
    left: -15px;
    overflow: hidden;
    position: relative;
    top: -1px;
    width: 9px;
}

.search_menu .extra .see b.open {
    background-position: -228px -17px;
}

.search_menu .extra .see b.close {
    background-position: -237px -17px;
}

.search_menu .show-more {
    padding: 0 0 11px 34px;
}

.search_menu .show-more a {
    border: 1px solid #ddd;
    display: block;
    font-size: 12px;
    height: 19px;
    line-height: 19px;
    margin-top: 8px;
    padding-left: 5px;
    position: relative;
    width: 64px;
}

.search_menu .show-more a:hover {
    background-color: #f9f9f9;
    color: #666;
    text-decoration: none;
}

.search_menu .show-more a i {
    background: rgba(0, 0, 0, 0) url("../images/see_more.gif") no-repeat scroll 0 0;
    display: inline-block;
    height: 5px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 7px;
    width: 7px;
}

.search_menu .item {
    background: #fff none repeat scroll 0 0;
    position: relative;
}

.search_menu .item h3 {
    background: #f7f7f7 none repeat scroll 0 0;
    border-top: 1px solid #ddd;
    cursor: pointer;
    font: 250 14px/30px;
    height: 30px;
    overflow: hidden;
    padding: 0 6px 0 36px;
    line-height: 30px;
}

.search_menu .item h3 a.curr {
    color: #e4393c;
}

.search_menu .item b {
    background: rgba(0, 0, 0, 0) url("../images/fold.png") no-repeat scroll -59px -28px;
    cursor: pointer;
    height: 16px;
    left: 10px;
    margin-top: 1px;
    overflow: hidden;
    position: absolute;
    top: 7px;
    width: 16px;
}

.search_menu .item .curr a:link, .search_menu .item .curr a:visited {
    color: #e4393c;
    font-weight: 700;
    height: 15px;
    padding: 0 2px 2px;
    vertical-align: middle;
}

.search_menu .item .curr a:hover {
    text-decoration: none;
}

.search_menu .item .curr span {
    color: #e4393c;
}

.search_menu .hover b {
    background-position: -42px -28px;
}

.search_menu .hover ul {
    display: block;
}

.search_menu .search_menu_tit {
    background: #f7f7f7 none repeat scroll 0 0;
    border-top: 1px solid #ddd;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    padding-left: 30px;
}

.search_menu .search_menu_list {
    border-top: 1px solid #ddd;
    padding: 0;
}

.search_menu .search_menu_list li {
    height: 28px;
    line-height: 28px;
    padding-left: 36px;
}

.search_menu .search_menu_list li a {
    color: #999;
    font-size: 12px;
}

.search_menu .search_menu_list li a:hover {
    color: #009fe3;
}

.search_menu .search_menu_list li span {
    background: #fec14c none repeat scroll 0 0;
    margin-left: 7px;
    border-radius: 10px;

    color: #fff;
    font-size: 12px;
    height: 20px;
    line-height: 18px;
    min-width: 20px;
    padding: 0 6px;

    text-align: center;

}

.hide {
    display: none;
}

.search_list_wrap {
    width: 932px;
    float: right;
    border: 1px solid #dedede;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border: 1px solid #e4e4e4;
    padding: 14px 24px;
    background-color: #fff;
}

.search_list_wrap .docarea-title {
    height: 40px;
    padding-left: 6px;
    padding-right: 6px;
    line-height: 40px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5
}

.search_list_wrap .docarea-title a {
    color: #333;
    outline: 0;
    text-decoration: none
}

.search_list_wrap .docarea-title a span:hover {
    text-decoration: underline
}

.search_list_wrap .docarea-title .gd-order-uploadDate {
    padding-left: 10px
}

.search_list_wrap .gd-hd-title {
    width: 160px;
    float: left;
}

.search_list_wrap .gd-order {
    width: 150px;
    text-align: center;
}

.search_list_wrap .gd-order .gd-order-views {
    width: 110px
}

.search_list_wrap .gd-order .order-ic {
    color: #c4c4c4;
    font-size: 10px;
    margin-left: 2px;
    vertical-align: 1px;
    *vertical-align: 3px
}

.search_list_wrap .gd-order .order-ic .ic-cur {
    color: #089c6a
}

.search_list_wrap .sld_list .list-item {
    padding: 18px 6px 15px 6px;
    border-bottom: 1px dashed #d9d9d9;
    display: block;
    height: 40px;
}

.search_list_wrap .sld_list .list-item:hover {
    background-color: #f9f9f9;
}

.search_list_wrap .sld_list .list-item .doc-title {
    margin-top: 5px;
    margin-bottom: 14px;
    font-size: 14px;
    text-align: left
}

.search_list_wrap .sld_list .list-item .doc-title .gd-bd-title {
    width: 160px;
}

.search_list_wrap .sld_list .list-item .doc-title .gd-bd-title a {
    color: #333;
    font-size: 14px;
}

.search_list_wrap .sld_list .list-item .doc-title .gd-order .order-color {
    color: #96602b
}

.search_list_wrap .sld_list .list-item .doc-title .gd-order .order-center {
    display: inline-block;
    width: 54px;
    text-align: center
}

.search_list_wrap .sld_list .list-item .doc-title .gd-order-uploadDate {
    width: 90px
}

.search_list_wrap .sld_list .list-item .doc-title .gd-order-uploadDate .order-center {
    width: 90px;
    color: #999
}

.search_list_wrap .sld_list .list-item .doc-info {
    color: #999;
    text-align: left;
    overflow: hidden;
    width: 550px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.page {
    padding-top: 30px;
    padding-right: 100px;
    height: 28px;
    margin-bottom: 30px;
    overflow: hidden;
}

.page .page_list {
    float: right;
}

.page .page_list a {
    background: #fff;
    border: 1px solid #ccc;
    padding: 3px 8px;
    color: #535353;
    text-decoration: none;
    margin-left: 5px;
}

.page .page_list a:hover {
    background: #3498db;
    color: #fff;
    border: 1px solid #0068a5;
}

.page .page_list a.selected {
    background: #3498db;
    color: #fff;
    border: 1px solid #0068a5;
}

.page .page_list span {
    background: #fff;
    border: 1px solid #ccc;
    padding: 3px 8px;
    color: #535353;
    text-decoration: none;
    margin-left: 5px;
}
/*高级搜索*/
.main_con .tree{
    margin-top: 20px;
}

.main_con .tree .tree_1 {
    border: 2px solid #1a4882;
    border-radius: 6px;
    height: 250px;
    margin-right: 26px;
    position: relative;
    text-align: center;
    width: 24%;


}
.main_con .tree li .title {
    color: #1a4882;
    font-size: 20px;
    font-weight: bold;
    height: 57px;
    line-height: 57px;
    text-align: center;
}
.main_con .tree .shijian{
    border-radius: 6px;
    height: 250px;
    border: 2px solid #1a4882;
    width: 45%;
}
.main_con .tree .shijian .form-group{
    margin-top: 1px;
}
.main_con .tree .shijian .form-group a{
    margin-right: 10px;

}
.main_con .tree li .tree1{
    height: 180px;
    overflow-y:auto;
    width: 90%;
    display: inline-block;

}
.main_con .chaxun{
	height: 71%;
    margin-top: 10px;
    margin-bottom: 40px;
}
.main_con .chaxun .card{
    margin-top: 25px;
}
.main_con .chaxun img{
    width: 100%;
}
.chaxun h3.hehe {
    border-bottom: 1px dashed #ddd;
    color: #009fe3;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    position: relative;
    margin-top: 10px;
}
.card-shadow button{
    margin: 20px 20px 10px;
}
.tab {
	padding-top: 0px;
}
.tab li {
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	list-style: none;
	float: left;
	margin: 0 10px;
	background: #c9e9f7;
	border-radius: 5px;
}

.tab li.active {
	background: #1a4882;
}

.content li {
	width: 97%;
	height: 100%;
	padding: 20px;
	background: #f7f7f7;
	display: none;
	list-style: none;
}

.content li.active {
	display: block;
}

.from_input {
	width: 39%;
	display: inline-block;
}



#chart input {
  display: none;
}

#chart  section {
  display: none;
  padding: 20px 0 0;
  border: 1px solid #ddd;
}

#chart  label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

#chart  label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

#chart  label[for*='1']:before {
  content: '';
}

#chart  label[for*='2']:before {
  content: '';
}

#chart  label[for*='3']:before {
  content: '';
}

#chart  label:hover {
  color: #888;
  cursor: pointer;
}

#chart  input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}